body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: roboto;
    color: black;
}

/* AETHAN'S CODE */
/* ====================================================== */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  text-align: center;
  padding: 10px 0;
}

/* ====================================================== */

.main-container{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.view-container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../../img/bamboo/bg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fade 1s ease-in-out 3s forwards normal;
}

.form-container{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3);
    /*display: block;*/
    /* animation: fade 1s ease-in-out 4s forwards normal;
    opacity: 0;*/
}

.form-container-student{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3);
    display: none;
}

.title{
    font-size: 3rem;
    
    z-index: 1;
    text-align: center;
}

.logo-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-image: url("../../img/bamboo/logo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: fade-in 3s ease-in-out 0s forwards normal;
}

.welcome{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../img/bamboo/welcome.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: fade-in 2s ease-in-out 1.5s forwards normal;
    opacity: 0;
}

.left-col{
    width: 100%;
    height: 100vh;
    background-image: url("../../img/bamboo/left-bg.png");
    background-size: cover;
    background-position: center;
    border-right: 5px solid #8c1616;
}

.right-col{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.string{
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn{
    background-color: #8c1616;
    color: white;
    transition: .2s all linear;
}

.btn:hover{
    background-color:#cc2020;
}

.bits{
    position: absolute;
    bottom: 25px;
    right: 50px;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0px;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes boom{
    0%, 100%{
        transform: scale(.9);
    }
    50%{
        transform: scale(1);
    }
}

@keyframes fade-in{
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.checkbox label a{
    color: black;
    text-decoration: none;
}

.checkbox label a:hover{
    border-bottom: 1px solid #cc2020;
    color: #cc2020;
}

/* TERMS AND CONDITIONS */
/* =================================*/

.terms-container{
    height: 100vh;
    background-image: url("../../img/bamboo/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.terms-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-box{
    background-color: white;
    height: 700px;
    overflow: auto;
    border: 1px solid black;
    padding: 50px;
    box-sizing: border-box;
}

.studentnum{
    z-index: 100;
    cursor: pointer;
    background-color: white;
    position: absolute;
    bottom: 100px;
    padding: 20px 40px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.3);
}

.toggleform{
    display: none;
}

.togglestudent{
    display: block;
}

.edit-button{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.edit-button label{
    font-family: arial;
}

.toedit{
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #d9534f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.toedit:hover{
    background-color: #b9494f;
    padding: 20px 30px;
}






